@*@page*@
@using System
@using System.Collections.Generic
@using System.Reflection
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Rendering
@using RazorPages.Samples.Web
@using RazorPages.Samples.Web.Data
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inherits RazorPages.Samples.Web.Pages.Index
@inject IHtmlHelper Html2

@functions {
    public async Task OnGetAsync()
    {
        ExistingCustomers = GetCustomers();
    }

    public async Task<IActionResult> OnPost(int? deleteId)
    {
        if (deleteId.HasValue)
        {
            DeleteCustomer(deleteId.Value);
            SuccessMessage = $"Customer {deleteId} deleted successfully!";
            return Redirect("/");
        }

        Customer = await BindAsync<Customer>("customer");
        if (ModelState.IsValid)
        {
            AddCustomer(Customer);
            SuccessMessage = $"Customer {Customer.Id} successfully created!";
            return Redirect("/");
        }
        
        // Model errors, populate customer list and show errors
        ExistingCustomers = GetCustomers();
        return View();
    }

    public IEnumerable<Customer> ExistingCustomers { get; set; }
    public Customer Customer { get; set; }
    public string SuccessMessage
    {
        get { return (string)TempData[nameof(SuccessMessage)]; }
        set { TempData[nameof(SuccessMessage)] = value; }
    }
    public bool ShowSuccessMessage => !string.IsNullOrEmpty(SuccessMessage);
    public string ErrorMessage
    {
        get { return (string)TempData[nameof(ErrorMessage)]; }
        set { TempData[nameof(ErrorMessage)] = value; }
    }
    public bool ShowErrorMessage => !string.IsNullOrEmpty(ErrorMessage);
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "All about interesting people";
    
    if (Html == null)
    {
        throw new Exception("Html is null :(");
    }
}

<div>
    <h1>Customers</h1>
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Html.DisplayNameFor(_ => Customer.Name)</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in ExistingCustomers)
                {
                <tr>
                    <td>@Html.DisplayFor(_ => customer.Id)</td>
                    <td>@Html.DisplayFor(_ => customer.Name)</td>
                    <td><button type="submit" name="deleteId" value="@customer.Id" class="btn btn-link">Delete</button></td>
                </tr>
                }
            </tbody>
        </table>
    </form>
</div>

<h2>Create Customer</h2>
@if (ShowSuccessMessage) {
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
        @SuccessMessage
    </div>    
}
<div asp-validation-summary="@ValidationSummary.All" class="text-danger"></div>
<form method="post" class="form-inline">
    <div class="form-group">
        <label asp-for="Customer.Name"></label>
        <input asp-for="Customer.Name" class="form-control" />
    </div>
    <input type="submit" value="Add Customer" class="btn btn-primary" />
</form>