@page
@inherits Index

@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewBag.Title = "All about interesting people";
}

<div>
    <h1>Customers</h1>
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Html.DisplayNameFor(_ => Customer.Name)</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in ExistingCustomers)
                {
                <tr>
                    <td>@Html.DisplayFor(_ => customer.Id)</td>
                    <td>@Html.DisplayFor(_ => customer.Name)</td>
                    <td><button type="submit" name="deleteId" value="@customer.Id" class="btn btn-link">Delete</button></td>
                </tr>
                }
                @if (!ExistingCustomers.Any())
                {
                    <tr>
                        <td colspan="3">[no customers found]</td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>

<h2>Create Customer</h2>
<b:alert emphasis="@ShowSuccessMessage ? Emphasis.Success : Emphasis.Danger" visible="ShowSuccessMessage || ShowErrorMessage">
    @(ShowSuccessMessage ? SuccessMessage : ErrorMessage)
</b:alert>
<form method="post" class="form-inline">
    <div class="form-group">
        <label asp-for="Customer.Name"></label>
        <input asp-for="Customer.Name" class="form-control" />
    </div>
    <input type="submit" value="Add Customer" class="btn btn-primary" />
    <div asp-validation-summary="@ValidationSummary.All" class="text-danger"></div>
</form>